<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel= "stylesheet" type= "text/css" href= "/static/styles/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <div class="flex-container">
                <div>
                    <header>
                        <h1>ReadingRevs</h1>
                        <p>Share about your favorite books!</p>
                    </header>
                </div>
            </div>
        </nav>
        
        <h2>{% block heading %}{% endblock %}</h2>

        {% block body %}
        {% endblock %}
    </body>
</html>
