{% extends "layout.html" %}

{% block title %}
    Book: ReadingRevs
{% endblock %}

{% block body %}
<h3>{{title}}</h3>
<p>Author: {{author}}</p>
<p>Year: {{year}}</p>
<p>ISBN: {{isbn}}</p>
<p>Average Rating: {{avg_rating}}</p>
<p>Number of Ratings: {{num_rating}}</p>

<h4>Reviews:</h4>
<ul>
    {% for review in reviews %}
        <li>{{ review.fstruser }}: {{review.fi16score}}
            <p>Review: {{review.fstrreview}}</p>
        </li>
    {% else %}
        <li>No reviews yet.</li>
    {% endfor %}
</ul>

<h4>Submit a Review:</h4>

<form action="{{ url_for('book', book_name=title) }}" method="post">
    <input type="text" name="book_review" placeholder="Submit review here!">
    <p>Rating:</p>
    <input type="radio" id="rate1" name="rate" value="1">
    <label for="rate1">1</label><br>
    <input type="radio" id="rate2" name="rate" value="2">
    <label for="rate2">2</label><br>  
    <input type="radio" id="rate3" name="rate" value="3">
    <label for="rate3">3</label><br>
    <input type="radio" id="rate4" name="rate" value="4">
    <label for="rate4">4</label><br>
    <input type="radio" id="rate5" name="rate" value="5">
    <label for="rate5">5</label><br>
    <br>
    <br>
    <button class="login" type="submit" name="submit">Submit</button>
<form>

<p>{{submit_error_message}}</p>

{% endblock %}
